
*
::after,
::before {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;

    height: 100%;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    color:#31405B
}

html {
    height: 100%;/*sticky footer*/
}

body > * {
    flex-shrink: 0;/*sticky footer*/
}

input {
    font-family: 'PT Sans', sans-serif;
    color:#31405B 
}

label {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
h1 h2 h3 h4 h5 h6 p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}



/* header*/

.bgcolor {
    background-color: #F2F8F6;
}

.header {
    position: relative;
    height: 800px;
    padding-top: 50px;
    background-color: #265847;
    background-image: url('./img/forest.jpg');
    background-position: center;
    background-size: cover;
    color: #FFF;
}

.header-title {
    margin-top: 0px;
    margin-bottom: 20px;
}

.header-2 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #31405B;
    font-size: 54px;
    font-weight: 700;
}

.header-inner {
    display: flex;
    align-items: center;
    height: 100px;
    background-color: #265847;
    background-image: url('./img/header-small-bg.jpg');
    background-position: center;
    background-size: cover;
    color: #FFF;
}

.header-top {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin: 0 auto;
    align-items: center;
}

.logo {
    color: #FFF;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    font-weight: 400;
}

.header-nav {
    color: #FFF;
    font-family: 'PT Sans', sans-serif;
    font-size: 22px;
    
}

.header-nav-button {
    display: none;
}

.header-nav-list {
    display: flex;
}

.header-nav-list-item {
    margin-right: 50px;
}

.header-nav-list-item :last-child {
    margin-right: 0;
}

.header-nav-link {
    color: #FFF;
    text-decoration: none;
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}



.header-title {
    margin-top: 0px;
    margin-bottom: 20px;
    
    color: #FFF;
    font-family: 'PT Sans', sans-serif;
    font-size: 60px;
}

.header-content p {
    color: #FFF;
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
}

.header-scroll {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    
    display: inline-block;
    width: 85px;
    height: 55px;

    color: #FFF;
    text-align: center;
    font-size: 16px;
    text-decoration: none;



}

.header-scroll::after {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);

    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(./img/arrow-down.svg );
}

/*main*/

.main {
    padding-top: 120px;
    padding-bottom: 120px;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.main-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}

.main-row-reverse {
    flex-direction: row-reverse;
    align-items: end;
    margin-bottom: 0;
    align-items: start;
}

.main-content {
    width: 470px;
}

.main-content-header {
    margin-bottom: 20px;
}

.main-img {
    width: 570px;
}

.main-header {
    margin-top: 0;
    color: #31405B;
    font-family: 'PT Sans', sans-serif;
    font-size: 54px;
    font-weight: 700;
    margin-bottom: 20px;
}

.main-content-text {
    margin-bottom: 40px;
    color: #31405B;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    line-height: 1.6;
}

.main-content-text a {
    color: #138ECE;
}

.main-content-text p {
    margin-top: 0;
    margin-bottom: 15px;
}

.button {
    display: inline-block;
    height: 50px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 50px;
    background: #0AC883;
    box-shadow: 0px 8px 20px 0px rgba(24, 219, 148, 0.35);
    border: none;
    cursor: pointer;

    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 50px;
    text-decoration: none;

}

/*footer*/

.footer {
    margin-top: auto;/*sticky footer*/
    background: #265847;
    padding-top: 70px;
    padding-bottom: 90px;
    color: #FFF;
}

.footer a {
    color: #FFF;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.footer-logo{
    margin-bottom: 26px;
}

.footer-row {
    display: flex;
    justify-content: space-between;
}

.footer-widget-wrapper{
    display: flex;
}

.footer-copyright {
    width: 270px;
}

.footer-copyright p {
    font-size: 16px;
    line-height: 1.6;
}

.footer-widget {
    font-size: 18px;
}

.footer-widget-info {
    width: 170px;
}

.footer-widget-services {
    width: 270px;
}

   .footer-widget-contact {
    width: 270px;
}

.footer-widget +.footer-widget {
    margin-left: 30px;
}

.footer-widger-title {
    margin-bottom: 30px;
    font-weight: bold;
    color: #FFF;
    font-size: 24px;
}

.footer-widget-list {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.footer-widget-list li {
    margin-bottom: 15px;
}

/*Inner Page Tours*/

.inner-page-tours {
    padding-top: 60px;
    padding-bottom: 100px;
}

.inner-page-tours-header {
    margin-bottom: 60px;
    text-align: center;
}

.inner-page-contacts {
    padding-top: 60px;
    padding-bottom: 100px;
}
/*cards*/
.card-title-link {
    color: #FFF;
    text-decoration: none;
}
.card-row {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.cards-second-row {
    display: flex;
    justify-content: space-between;
}

.card, .card-2 {
    width: 570px;
}

.card-3, .card-4 {
    width: 670px;
}
.card-3 {
    margin-bottom: 30px;
}

.card-5 {
    height: 760px;
}
.card-title-wrapper {
    display: flex;
    align-items: center;
    height: 80px;
    padding-left: 30px;
    padding-right: 30px;
    background-color:#A6A6A6;
    color: #FFF;
}

.card-title-wrapper-sand-color {
    background-color:#C1B19B;
}

.card-title-wrapper-blue-color {
    background-color: #66B0BE;
}

.card-title-wrapper-brow-color {
    background-color: #876F56;
}

.card-title-wrapper-green-color {
    background-color: #27695E;
}
.card-title {
    font-size: 28px;
    font-weight: 700;
}

/*Article page*/

.row-article-page {
    display: flex;
    justify-content: space-between; 
   
}

.inner-page-nav {
    width: 270px;
    flex-shrink: 0;
    flex-grow: 0;
}
.article-page-article {
    width: 770px;
    flex-shrink: 0;
    flex-grow: 0; 
    font-size: 20px;
    line-height: 1.6;
}

.article-page-nav-title {
    color: #31405B;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 34px;
}

.article-page-nav-list {
    border-top: 1px solid #D6D9D8 ;
    color: #138ECE;
}

.article-page-nav-list li {
    border-top: 1px solid #D6D9D8 ;
}

.article-page-nav-list a {
    display: block;
    padding-top: 14px;
    padding-bottom: 14px;
    color: #138ECE;
    text-decoration: none;
    font-size: 20px;
}

.article-page-nav-list a.active {
    font-weight: 700;
    color: #E04E4E;
}

.article-page-nav-list a.hover {
    text-decoration: underline;
}

.article-page-article h1 {
    line-height: 0;
    margin-bottom: 40px;
    color: #31405B;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;

}

.article-page-article h2 {
    margin-top: 15px;
    font-weight: 700;
    font-size: 32px;
    color: #31405B;
    font-style: normal;
    font-weight: 700;
}

.article-page-article h3 {
    margin-top: 15px;
    font-weight: 700;
    font-size: 26px;
    color: #31405B;
    font-style: normal;
    font-weight: 700;
}

.article-page-article h4 {
    font-size: 15px;
    font-weight: 700;
    font-size: 22px;
    color: #31405B;
    font-style: normal;
    font-weight: 700;
}

.article-page-article p b {
    margin-bottom: 15px;
    font-size: 20px;
    color: #31405B;
}

.article-page-article b {
    color: #31405B;
}

.article-page-article img {
    margin-top: 40px;
    margin-bottom: 40px;
}

.article-page-article>*:last-child {
    margin-bottom: 0;
}

.link-tracking {
    text-decoration: none;
    color: #138ECE;
    text-decoration-line: underline;

}

/* Contacts page */

.main-header-contact{
    margin-top: 0;
    font-size: 54px;
    font-weight: 700;
}

.contacts-header {
    margin-bottom: 40px;
}

.contact-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contact-info {
	width: 470px;
}

.contact-block + .contact-block {
	margin-top: 40px;
}

.contact-block-title {
	margin-top: 0;
    margin-bottom: 20px;
	color: #31405B;
	font-size: 28px;
	font-weight: 700;
}

.contact-block-body {
	font-size: 20px;
}

.contact-list li {
	margin-bottom: 15px;
}

.contact-list a {
	color: #138ece;
	text-decoration: none;
}

.contact-list-icon {
	position: relative;
	padding-left: 39px;
}

.contact-list-icon::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 24px;
	height: 24px;
	/* background-color: red; */
}

.contact-list-icon.phone::before {
	background-image: url(./img/phone.svg)
}

.contact-list-icon.mail::before {
	background-image: url(./img/mail.svg);
}

.contact-list-icon.address::before {
	background-image: url(./img/map-pin.svg);
}

.form {
    margin-left: 70px;
    padding: 40px;
    width: 630px;

    background: #FFF;
    box-shadow: 0px 10px 20px 0px rgba(211, 211, 211, 0.25);
}
/*FOrm*/
.form-title-contact {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 700;
}

.form-group {
    margin-bottom: 30px;
}

.form-group:last-of-type {
    margin-bottom: 35px;
}

.form-group-title {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
}

.form-group-row > .input + .input {
    margin-left: 10px;
}

.form-group-row {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.input {
    width: 100%;
    font-size: 18px;
    height: 50px;
    border-radius: 6px;
    border: 1px solid #C0C0C0;
    background: #EEE;
    padding-left: 20px;
    padding-right: 20px;
}

.input ::placeholder {
    color: #31405B80
}

/*radio*/

.radio-row {
    margin-bottom: 20px;
    display: block;
    cursor: pointer;
}



.custom-radio {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 10px;
    width: 20px;
    height: 20px;

    background-color: #EEEEEE;
    border: 1px solid #C0C0C0;
    border-radius: 50%;
}

.real-radio {
    appearance: none;
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.real-radio:focus + .custom-radio {
    border: 1px solid #2AB698;
    box-shadow: 0 0 10px #2ab69873;
    
}

.custom-radio::before {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    content: '';
    width: 12px;
    height: 12px;
    background: #2AB698;
    border-radius: 50%;
    
    transition: transform 0,2s ease-in;
}

.real-radio:checked + .custom-radio::before {
    transform: translate(-50%,-50%) scale(1);
}

/*checkbox*/

.checkbox-row {
    display: block;
    margin-bottom: 10px;
}

.real-checkbox {
    appearance: none;
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.custom-checkbox {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    border: 1px solid #C0C0C0;
    vertical-align: bottom;
}

.custom-checkbox::before {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    content: '';
    width: 17px;
    height: 17px;
    transition: transform 0,2s ease-in;
    background-image: url(./img/check.svg);
    
}

.real-checkbox:checked + .custom-checkbox::before {
    transform: translate(-50%,-50%) scale(1);
}

.real-checkbox:focus + .custom-checkbox {
    border: 1px solid #2AB698;
    box-shadow: 0 0 10px #2ab69873;
}

@media (max-width: 1199px) {
    .container {
        width: 900px;
    }
}

@media (max-width: 899px) {
    .container {
        width: 600px;
    }
}

@media (max-width: 599px) {
    .container {
        width: 320px;
    }
}

